
h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    color: #0d0d0d;
    font-weight: bold;

}


a{
    text-decoration: none;
    color: #d71818;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    


}
#productosContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
#productosContainerHome {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.productCard {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
font-weight: bold;
}

.productCard h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.productCard p {
    margin-bottom: 8px;
    color: #666;
}

.productCard .price {
    font-weight: bold;
    color: #007bff;
}

.productCard .stock {
    color: #28a745;
}

.productCard:hover {
    transform: scale(1.05);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-left: 40%;
    color: #0d0d0d;
    font-weight: bold;


}

label {
    margin-top: 10px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #121412;
}

#userNameForm {
    margin-bottom: 10px;
}

#userNameInput,
#userEmailInput,
#messageInput {
    padding: 8px;
    margin-right: 5px;
    font-size: 14px;
}

#chatContainer {
    max-width: 600px;
    margin: 0 auto;
}

#chatBox {
    border: 1px solid #ab2c2c;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
}

#messageForm {
    display: flex;
    align-items: center;
}

#messageInput {
    flex: 1;
}

p {
    margin: 5px 0;
}